* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Hanken;
}

@font-face {
  font-family: Hanken;
  src: url(HankenGrotesk-VariableFont_wght.ttf);
}
/* colors */
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Result {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 18rem;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(hsl(252deg, 100%, 67%), hsl(241deg, 81%, 54%));
  border-radius: 0 0 30px 30px;
  padding: 1rem 0 1rem 0;
}

.Result p {
  max-width: 70%;
  font-family: Hanken;
  color: hsl(241deg, 100%, 89%);
}

.Result div {
  border: 1px solid hsla(241deg, 72%, 46%, 0);
  border-radius: 99999px;
  background-image: linear-gradient(hsl(256deg, 72%, 46%), hsla(241deg, 72%, 46%, 0));
  height: 7rem;
  width: 7rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-family: Hanken;
  font-weight: 800;
  font-size: 3rem;
  color: hsl(0deg, 0%, 100%);
  margin-top: 0.8rem;
}

div p {
  margin-bottom: 0.5rem;
}

h2 {
  font-family: Hanken;
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
}

.top {
  font-weight: 700;
}

.bottom {
  font-size: 0.9rem;
  font-weight: 500;
}

.Summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25rem;
  padding: 1.2rem 1.2rem 0.4rem 1.2rem;
}

.Summary p,
h3,
h4 {
  font-weight: 700;
}

.Summary p {
  color: hsl(241deg, 100%, 89%);
}

h3,
span {
  color: hsl(224deg, 30%, 27%);
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16rem;
}

.categories1,
.categories2,
.categories3,
.categories4 {
  display: flex;
  justify-content: space-between;
  height: 3.3rem;
  align-items: center;
  border-radius: 1rem;
  padding: 0 1rem;
}

.it {
  display: flex;
  justify-content: space-between;
  width: 6rem;
}

.reaction {
  color: hsl(0deg, 100%, 67%);
  width: 4rem;
}

.memory {
  color: hsl(39deg, 100%, 56%);
  width: 4rem;
}

.verbal {
  color: hsl(166deg, 100%, 37%);
  width: 4rem;
}

.visual {
  color: hsl(234deg, 85%, 45%);
  width: 4rem;
}

.categories1 {
  background-color: hsla(0deg, 100%, 67%, 0.23);
}

.categories2 {
  background-color: hsla(39deg, 100%, 56%, 0.2);
}

.categories3 {
  background-color: hsla(166deg, 100%, 37%, 0.2);
}

.categories4 {
  background-color: hsla(234deg, 85%, 45%, 0.2);
}

.continue {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
  font-weight: 500;
  font-size: 1.2rem;
}

.button {
  height: 3.3rem;
  background-color: hsl(224deg, 30%, 27%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18rem;
}

.button:hover {
  background-color: hsl(256deg, 72%, 46%);
  cursor: pointer;
}

footer a {
  text-decoration: none;
}

@media screen and (min-width: 540px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main {
    display: flex;
    width: 40rem;
    height: 27rem;
    justify-content: center;
    align-items: center;
  }
  article {
    width: 50%;
  }
  .Result {
    height: 100%;
    border-radius: 2rem;
  }
  .Summary {
    padding: 2rem;
    border-radius: 0 2rem 2rem 0;
    box-shadow: 10px 10px 20px hsla(0deg, 0%, 50%, 0.7);
    height: 27rem;
  }
  .Result div {
    height: 10rem;
    width: 10rem;
  }
  h1 {
    font-size: 4rem;
    margin-top: 1.5rem;
  }
  .shift {
    position: relative;
    bottom: 1rem;
  }
  .top {
    font-size: 1.2rem;
  }
  .bottom {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.8rem;
    font-weight: 600;
  }
  h3 {
    font-size: 1.3rem;
  }
}/*# sourceMappingURL=index.css.map */